body{
	background-color:#333;
	text-align:center;
	color:#fff;
	height:100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
        box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.inner {
	padding: 30px;
}

.masthead-nav{
	float:right;
}

.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
	color:#fff;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

#header{
	position:absolute;
	top:0;
	width:100%;
	z-index:100;
}

#content{
	text-align:left;
	color:#000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
}

#content .input-group{
	width:500px;
}

#content .input-group-btn{
	width:0px;
}

#footer{
	width:100%;
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
	position:fixed;
	bottom:0;
}

#footer a{
	color:#fff;
}

#search{
	position: fixed;
	top: 47%;
	width: 100%;
	text-align:center;
}

#search-result{
	position:relative;
	top:82px;
	margin:16px;
}

#search-result .panel-heading{
	color:#fff;
	background-color:#333;
	border-color:#ddd;
}

#search-result .panel-body{
	background-color:#333;
	height:75%;
}

.text-right{
	float:right;
}

.label-down{
	padding:7px;
	font-size:80%;
}

#file-list{
	width:65%;
	float:left;
}

#file-list .list-group-item{
	background-color:#333;
}

#file-list .list-group-item{
	color:#fff;
}

#file-list .list-group-item:hover{
    background-color:#fff;
	color:#000;
}

#file-list .list-group-item.active{
	background-color:#fff;
	color:#000;
	border-color:#fff;
}

#file-list .list-group-item.active .list-group-item-text{
	color:#000;
}

#file-detail{
	float:left;
	width:35%;
	height:470px;
}
