body{
	background-color:#333;
	text-align:center;
	color:#fff;
	height:100%;
	-webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
        box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.inner {
	padding: 30px;
}

.masthead-nav{
	float:right;
}

.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

#content{
	color:#000;
}

#content .input-group{
	width:500px;
}

#content .input-group-btn{
	width:0px;
}

#footer{
	width:100%;
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
	position:fixed;
	bottom:0;
}

#footer a{
	color:#fff;
}

